# Project Data Wrangling - Pacmann

Created by Rahman Aziz Firmansyah (AI/ML Engineering SU)

## 1. Project Objectives
[isi target yang ingin dicapai dalam proyek ini]

Data yang mungkin diperlukan:
- olist_order_items_dataset
    - kolom: product_id, seller_id, shipping_limit_date, price, freight_value
- olist_products_dataset
    - kolom[index]: product_id, product_category_name, product_description_length, product_photos_qty
- olist_order_reviews_dataset
    - kolom: order_id, review_score
- olist_order_payments
    - kolom: order_id, payment_sequential, payment_type, payment_installments, payment_value

Objectives:
1. Perusahaan ingin mengetahui produk apa yang paling banyak dibeli pelanggan
2. Total penjualan 10 produk yang paling banyak dibeli pelanggan
3. Mengidentifikasi 5 Produk yang mendapat review paling baik dari pelanggan
4. Mengidentifikasi korelasi antara durasi pengiriman dengan customer review score

## 2. Accessing Database
[akses database dan satukan tabel-tabel yang diperlukan dalam 1 file]

In [46]:
# import library required
import sqlite3
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
# create a connection to olist.db
con = sqlite3.connect('olist.db')

# create a cursor to execute sql statements and fetch the result from sql database
cr = con.cursor()

In [56]:
# executing a query with cursor and storing the result in res
res = cr.execute('''SELECT 
                        review_id, 
                        order_id, 
                        review_score,
                        order_purchase_timestamp,
                        order_delivered_customer_date,
                        order_estimated_delivery_date
                    FROM olist_order_reviews_dataset rev
                    JOIN olist_order_dataset ord
                        USING(order_id)
                    ''')

In [57]:
# storing data in dictionary to be converted into dataframe
review_n_delivery = {'review_id': [],
                    'order_id': [],
                    'review_score': [],
                    'purchase_time_stamp': [],
                    'delivered_customer_date': []}
for row in res:
    review_n_delivery['review_id'].append(row[0])
    review_n_delivery['order_id'].append(row[1])
    review_n_delivery['review_score'].append(row[2])
    review_n_delivery['purchase_time_stamp'].append(row[3])
    review_n_delivery['delivered_customer_date'].append(row[4])

In [60]:
df_rev_deliv = pd.DataFrame(review_n_delivery)
df_rev_deliv.head()

,review_id,order_id,review_score,purchase_time_stamp,delivered_customer_date
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-11 15:30:49,2018-01-17 18:42:41
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-02-28 12:25:19,2018-03-09 23:17:20
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-03 09:56:22,2018-02-16 17:28:48
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-09 17:41:13,2017-04-20 09:08:35
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-02-10 10:59:03,2018-02-28 16:33:35

In [65]:
df_rev_deliv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   purchase_time_stamp      99224 non-null  object
 4   delivered_customer_date  96359 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

## 3. Data Exploration and Preprocessing
[lakukan proses-proses seperti data wrangling, data cleaning, data manipulation]

## 4. Analysis
[gali informasi dan analisis dampaknya terhadap bisnis]